.sidenav {
  background-color: #c1d8f0;
  width: 200px;

  a {
    color: #ffffff;

    i {
      padding-right: 10px;
    }
  }
}

.content {
  padding: 16px;
  background-color: #e1f1fd;
}

.container {
  height: 83%;
  background-color: #e1f1fd;
}
