<mat-sidenav-container class="container">
    <mat-sidenav
        class="sidenav"
        mode="side"
        opened
        fixedInViewport="true"
        fixedTopGap="64"
    >
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">home</i>
                Home
            </a>
            <a mat-list-item routerLink="/authors">Autores</a>
            <a mat-list-item routerLink="/categories">Categorias</a>
            <a mat-list-item routerLink="/tags">Tags</a>
            <a mat-list-item routerLink="/bibliographys">Bibliografias</a>
            <a mat-list-item routerLink="/publishers">Editoras</a>
            <a mat-list-item routerLink="/books">Livros</a>
            <a mat-list-item routerLink="/reserves">Reservas</a>
            <a mat-list-item routerLink="/borrowings">Empréstimos</a>
            <a mat-list-item routerLink="/fines">Multas</a>
            <a mat-list-item *ngIf="user?.isLibrarian" routerLink="/library-configurations">Configurações Biblioteca</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
